<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
        My exercises
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"> New exercise </a>
      <a routerLink="/" routerLinkActive="active">
        <button mat-raised-button color='accent'>Home</button>
      </a>
      <a routerLink="/login" routerLinkActive="active">
        <button mat-raised-button color='accent'>Login</button>
      </a>
      <a routerLink="/register" routerLinkActive="active">
        <button mat-raised-button color='accent'>Register</button>
      </a>
    </li>
  </ul>

</mat-toolbar>
